.InputContainer {
	background-color: beige;
	width: 20rem;
	height: 2rem;
	border-radius: 1.75rem;
	border-color: bisque;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
	padding: .5rem;
	margin-left: 2rem;
}

.Button {
	width: 3.5rem;
}