.container {
  margin: 5% 10%;
  padding: 8px;
  background-color: lightblue;
}

.comments-container {
  display: flex;
  padding: 8px 16px;
  margin: 16px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid cyan;
  border-radius: 15px;
  background-color: cyan;
  box-shadow: 2px 3px 20px gray;
}

.image {
  width: 70px;
  height: 70px;
  margin-right: 16px;
  border-radius: 50px;
}

.name {
  font-weight: bold;
  font-size:18px;
}

.text-container {
  flex-grow: 1;
}

.input {
  margin: 16px;
  width: 260px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid black;
}

.delete-button {
  width: 90px;
  height: 32px;
  background-color: darkblue;
  color: white;
  border: 1px solid darkblue;
  box-shadow: 2px 3px 20px gray;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  opacity: 0.65;
  transition: 0.2s ease-in;
}

.form{
  width: 100%;
  margin-top: 5%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}